body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: gray;
}

.container {
	position: relative;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 130px;
	perspective: 1000px;
	transform: translate(-50%, -50%);
}
	#left,
	#right{
		position: absolute;
		z-index: 99;
		top: 50%;
		width: 35px;
		height: 35px;
		background: rgba(255,255,255,0.5);
		transform: translateY(-50%);
		line-height: 35px;
		text-align: center;
		cursor: pointer;
	}
		#left{
			left: 20px;
		}
		#right{
			right: 20px;
		}

#carousel {
	display: block;
	position: absolute;
	width: 100%;
	background: transparent;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: 0.2s all ease;
}
.side {
	position: absolute;
	top: 0;
	left: 0px;
	width: 250px;
	min-height: 130px;
	background: rgba(255,255,255,0.5);
}
	.a1 { transform: rotateY(0deg) translateZ(392px); }

	.a2 { transform: rotateY(40deg)translateZ(392px); }

	.a3 { transform: rotateY(80deg)translateZ(392px); }

	.a4 { transform: rotateY(120deg)translateZ(392px); }

	.a5 { transform: rotateY(160deg)translateZ(392px); }

	.a6 { transform: rotateY(200deg)translateZ(392px); }

	.a7 { transform: rotateY(240deg)translateZ(392px); }

	.a8 { transform: rotateY(280deg)translateZ(392px); }

	.a9 { transform: rotateY(320deg) translateZ(392px); }