body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: gray;
}

.container {
	position: relative;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 300px;
	perspective: 1000px;
	transform: translate(-50%, -50%);
}

#carousel {
	display: block;
	position: absolute;
	width: 100%;
	border: 1px solid black;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: 0.2s all ease;
}

#left{
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9 {
	position: absolute;
	top: 0;
	left: 0px;
	width: 250px;
	min-height: 130px;
	background: rgba(255,255,255,0.5);
	transition: .2s all ease;
}

#a1 {
	transform: rotateY(0deg) translateZ(392px) scale(1);
}

#a2 {
	transform: rotateY(40deg)translateZ(392px);
}

#a3 {
	transform: rotateY(80deg)translateZ(392px);
}

#a4 {
	transform: rotateY(120deg)translateZ(392px);
}

#a5 {
	transform: rotateY(160deg)translateZ(392px);
}

#a6 {
	transform: rotateY(200deg)translateZ(392px);
}

#a7 {
	transform: rotateY(240deg)translateZ(392px);
}

#a8 {
	transform: rotateY(280deg)translateZ(392px);
}

#a9 {
	transform: rotateY(320deg) translateZ(392px);
}

#left, #right {
	z-index: 10;
	color: gray;
	background: rgba(255,255,255,0.5);
	width: 50px;
	font-size: 50px;
	position: absolute;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	cursor: default;
	transition: .3s all ease;
}

#left:hover, #right:hover {
	background: rgba(255,255,255,0.9);
	transform: scale(1.1);
}

#left:active, #right:active {
	background: rgba(255,255,255,0.2);
	transform: scale(0.7);
}

#left {
	left: -420px;
}

#right {
	left: 620px;
}