body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: gray;
}

.container {
	position: relative;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 300px;
	perspective: 1000px;
	transform: translate(-50%, -50%);
}

.carousel {
	display: block;
	position: absolute;
	transform-style: preserve-3d;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
}

.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9 {
	width: 196px;
}

.a1 {
	transform: rotateY(0deg);
}

.a2 {
	transform: rotateY(40deg);
}

.a3 {
	transform: rotateY(80deg);
}

.a4 {
	transform: rotateY(120deg);
}

.a5 {
	transform: rotateY(160deg);
}

.a6 {
	transform: rotateY(200deg);
}

.a7 {
	transform: rotateY(240deg);
}

.a8 {
	transform: rotateY(280deg);
}

.a9 {
	transform: rotateY(320deg);
}